header{
background-color: palevioletred;
font-size: 30px;
text-align: left;
height: 80px;
color: white;
padding:'10px' ;
box-sizing: border-box;
padding: 15px;
}

  button{
    background-color: lightseagreen;
    width: 80px;
  }
  select{
    width: 80px;
  }

  .Infoheader{
    display: flex;
    font-weight: bold;
    justify-content: start;
    height: auto;
    max-width: 60%;

    margin: auto;
    
  }

  span{
    width: auto;
    margin: 20px;
  }

  div.ch:nth-child(odd) { /* Selects only odd elements */
    display: flex;
    font-weight: bold;
    justify-content: start;
    height: auto;
    max-width: 60%;
    margin: auto;
    background-color: lightgray;   
   
}
div.ch:nth-child(even) { /* Selects only odd elements */
  display: flex;
  font-weight: bold;
  justify-content: start;
  height: auto;
  max-width: 60%;
  margin: auto;
}

.main{
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content:start;
  
}
select , input {
  outline:none;
  border: none;
  border-bottom:1px solid gray;
  
}

label{
  color:gray
}